[submodule "docs-resources"]
	path = docs-resources
	url = https://github.com/riscv/docs-resources.git
[submodule "sail-riscv"]
	path = sail-riscv
	url = https://github.com/lfiolhais/sail-riscv.git
	branch = lipe/hac
